# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Dados (Dados brutos e processados)
data/

# MLOps & Pipelines
mlruns/
.dagster/
dagster.db
dagster_home/
*.log

# Outros
.env
.DS_Store
